pyrogram==1.4.16
TgCrypto
hachoir
Pillow
aiohttp
motor
dnspython
aiofiles
psutil
pyromod
humanfriendly
pymongo
websockets
uvicorn
fastapi
python-decouple
numpy
psycopg2-binary
sqlalchemy==1.3.23
https://github.com/Mahesh0253/pyrogram/archive/asyncio.zip